<ion-header>
  <ion-toolbar>
    <ion-title>
      Registro de Estudiantes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Consultar
    </ion-list-header>
    <ion-item *ngFor="let booking of bookings" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person-outline"></ion-icon> {{booking.name}}
        </h5>
        <p>
          <ion-icon name="call-outline"></ion-icon> {{booking.mobile}}
        </p>
        <p>
          <ion-icon name="mail-open-outline"></ion-icon> {{booking.email}}
        </p>
        <p>
          <ion-icon name="book-outline"></ion-icon> {{booking.carrera}}
        </p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear (click)="deleteBooking(booking.$key)">
          <ion-icon name="trash-outline" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>